.top {
  width:'80';
  height:'10';
  x:10%;
  y:25%;
}

.middle {
  width:'80';
  height:'10';
  x:10%;
  y:50%;
}

.bottom {
  width:'80';
  height:'10';
  x:10%;
  y:75%;
}

.btn-pressed .top {
  y: 45%;
  rotate: 45deg;
}
/* middle -> hide */
.btn-pressed .middle {
    opacity: 0;
}
/* bottom -> rotate other way */
.btn-pressed .bottom {
  y: 45%;
  rotate: -45deg;
}

.hamburger {
  fill: rgba(187, 108, 67, 1);
  /* opacity: 0.5; */
  width: 2rem;
  height: 2rem;
  transition: fill 2s;
  transform-origin: center;
  /* border: 5px solid red; */
  
}

/* .buttonsvg {
    background-color: transparent;
    z-index: 5;
    outline: 3px solid transparent;
    outline-offset: 0rem;
    transition: outline 200ms, outline-offset 200ms, opacity 0ms;
} */
/* .menu-not-pressed {
  width: 0%;
  opacity: 10%;
} */
.buttonsvg .btn-pressed {
  /* fill: rgba(187, 108, 67, 1); */
  /* fill: rgba(235, 239, 238, 0.8); */
  /* opacity: 100%; */
  transform: scale(0.8,0.8);
}


/* .buttonsvg .btn-pressed {
  outline: 2px solid black;
  outline-offset: -0.3rem;
} */

.btn-pressed .line {
    transition:
    y 300ms ease-in,
    opacity 0ms ease-in 300ms,
  rotate 300ms ease-in 300ms;
  transform-origin: center;

}

.btn-not-pressed .line {
  transition:
  y 300ms ease-in 300ms,
  opacity 0ms 300ms,
  rotate 300ms ease-in;
  transform-origin: center;

}





/* .buttonsvg:hover {
  outline: 3px solid whitesmoke;
  outline-offset: 0.2rem;
} */



